<!DOCTYPE html>
<html>
<head>
    <title>Reserva exitosa</title>
    <style>
        body {
            background-color: #f2f8ff;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }

        h2 {
            color: #2980b9;
            font-size: 24px;
        }

        p {
            color: #34495e;
            font-size: 18px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h2>Reserva exitosa</h2>
    <p>Su reserva ha sido realizada con éxito.</p>
</body>
</html>
